@font-face {
    font-family: "Grotesk HK";
    src: url(/assets/hk-grotesk.woff2), url(/assets/hk-grotesk.woff);
}

body {
    font-family: "Grotesk HK", Arial;
    font-size: 36px;
    line-height: 1.25;

    background-color: #ffffff;
    color: #333333;
}

header {
    /* Not attached to the page. Attached to the browser window. */
    position: fixed;
    top: 36px; 
    left: 36px;
    z-index: 1;
}

section {
    background-color: #c8dee0;
    min-height: 100vh;
    padding: 80px;
    
    display: flex; 
    justify-content: center;
    align-items: center;
}

div.content {
    position: relative;
}

div.square {
    width: 100px;
    height: 100px;
    background-color: #d54156;
    /* Absolute-positioned elements are taken out of the regular flow of the web page. and positioned relative to the whole page itself. The coordinates are based on the whole page. In order to positiion this sqaure relative to the content, the content div needed to be made into position relative. The coordinates then become based on the content itself. */
    position: absolute;
    top: 50px;
    left: -50px; 
}

div.circle {
    width: 100px;
    height: 100px;
    background-color: #5982a0;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: -50px;
}

div.content img {
    position: relative;
}

section.s2 {
    background-color: #c5c5c5;
}

section.s2 div.square {
    background-color: #d6ac35;
}

section.s2 div.circle {
    background-color: #be3c52;
}

section.s3 {
    background-color: #292121;
}

section.s3 div.square {
    background-color: #5f3736 ;
}

section.s3 div.circle {
    background-color: #6e5f67;
}

section.s4 {
    background-color: #f3f1f2;
}

section.s4 div.square {
    background-color: #d54156;
}

section.s4 div.circle {
    background-color: #5982a0;
}